# My Spotify data

In [2]:
import pandas as pd
import numpy as np

In [15]:
streming_data0 = pd.read_json("datasets/StreamingHistory0.json")
streming_data1 = pd.read_json("datasets/StreamingHistory1.json")
streming_data2 = pd.read_json("datasets/StreamingHistory2.json")
streming_data3 = pd.read_json("datasets/StreamingHistory3.json")
streming_data4 = pd.read_json("datasets/StreamingHistory4.json")
streming_data5 = pd.read_json("datasets/StreamingHistory5.json")

lista_data_stream = [streming_data0,streming_data1,streming_data2,streming_data3,streming_data4,streming_data5]

full_data_streaming = pd.concat(lista_data_stream, ignore_index=True) 


full_data_streaming.head()

,endTime,artistName,trackName,msPlayed
0,2022-08-28 15:20,boy pablo,Feeling Lonely,30122
1,2022-08-28 15:23,Twenty One Pilots,Good Day,204400
2,2022-08-28 15:24,Gym Class Heroes,Cupid's Chokehold / Breakfast in America - Rad...,20498
3,2022-08-28 15:27,Twenty One Pilots,Choker,223065
4,2022-08-28 15:30,Twenty One Pilots,Shy Away,175044

In [19]:
full_data_streaming['artistName'].value_counts()

artistName
Twenty One Pilots    2646
The Killers          2278
Gorillaz             1518
The Beatles          1209
Yago Oproprio        1079
                     ...
Anna Kendrick           1
Kiesza                  1
Timeflies               1
Tom Morello             1
Cutting Crew            1
Name: count, Length: 3023, dtype: int64