# My Spotify data

In [2]:
import pandas as pd
import numpy as np

In [3]:
streming_data = pd.read_json("datasets/StreamingHistory0.json")
streming_data.head()

,endTime,artistName,trackName,msPlayed
0,2022-08-28 15:20,boy pablo,Feeling Lonely,30122
1,2022-08-28 15:23,Twenty One Pilots,Good Day,204400
2,2022-08-28 15:24,Gym Class Heroes,Cupid's Chokehold / Breakfast in America - Rad...,20498
3,2022-08-28 15:27,Twenty One Pilots,Choker,223065
4,2022-08-28 15:30,Twenty One Pilots,Shy Away,175044

In [4]:
streming_data.describe()

            msPlayed
count   10000.000000
mean   119130.292200
std    100884.316989
min         0.000000
25%      3250.000000
50%    149080.000000
75%    202466.000000
max    576449.000000