# Getting the Data

In [1]:
import pokebase as pb
import pandas as pd
import numpy as np
import random

In [3]:
def matrizUniAleatorio(tamanho):
    matriz = list(range(tamanho))
    for num in range(tamanho):
        matriz[num] = random.randint(1, 999)
    return matriz


def matrizUniOrdinaria(tamanho, numero):
    matriz = list(range(tamanho))
    for num in range(tamanho):
        matriz[num] = numero
    return matriz


def matrizBiAleatorio(NumColunas, NumLinhas, ateNum):
    matriz = [[0 for i in range(NumColunas)] for j in range(NumLinhas)]
    for y in range(NumColunas):
        for x in range(NumLinhas):
            matriz[x][y] = random.randint(0, ateNum)
    return matriz


def matrizBiAleatorioFloat(NumColunas, NumLinhas, ateNum):
    matriz = [[0 for i in range(NumColunas)] for j in range(NumLinhas)]
    for y in range(NumColunas):
        for x in range(NumLinhas):
            matriz[x][y] = random.uniform(0, ateNum)
    return matriz


def matrizBiOrdinaria(NumColuna, NumLinhas, elemento=0):
    matriz = [[0 for i in range(NumColuna)] for j in range(NumLinhas)]
    for y in range(NumColuna):
        for x in range(NumLinhas):
            matriz[x][y] = elemento
    return matriz


def nomeAleatorio(tamanho):
    vogais = 'aeiou'
    consoantes = 'bcdfghjklmnpqrstvwxyz'
    nome = ''
    for i in range(tamanho):
        if i % 2 == 0:
            nome += random.choice(consoantes)
        else:
            nome += random.choice(vogais)
        return nome.capitalize()


def printMatrizBi(matriz, tamanhoElemento):
    for linha in matriz:
        for elemento in linha:
            print(str(elemento).center(tamanhoElemento), end=" ")
        print()
    print()

### Criação dos funções para a criação dos dicionarios com os dados da API 

#### Locations
    - id int
    - region string
        - location string

In [41]:
def get_data_locations(count):
    """Retorna um dicionário de regiões e suas locations correspondentes"""
    matriz = matrizBiOrdinaria(4, count)
    
    for id in range(1, count):  # IDs das locations começam em 1
        try:
            location = pb.location(id)
            location_name = location.name
            tamanho_game_indices = len(location.game_indices)
            
            matriz[id][0] = id
            matriz[id][1] = location_name
            
            if tamanho_game_indices == 0:
                matriz[id][3] = np.nan
            else:
                gen_name = location.game_indices[0].generation.name
                matriz[id][3] = gen_name 
            
            if location.region.name is not None:
                region_name = location.region.name
                matriz[id][2] = region_name
            else:
                matriz[id][2] = np.nan

        except Exception as e:
            print(f"Erro ao recuperar dados para id {id}: {e}")
            matriz[id][2] = np.nan

    return matriz 


def get_data_generation():
    """Retorna uma matriz com dados relevantes das gerações"""
    matriz = matrizBiOrdinaria(7,9)

    for id in range(1, 10 + 1):
        try:
            generation = pb.generation(id)
            generation_name = generation.name
            region_main = generation.main_region.name
            game_name1 = generation.version_groups[0].name
            game_name2 = generation.version_groups[1].name
       
            matriz[id][0] = id
            matriz[id][1] = generation_name
            matriz[id][2] = region_main
            matriz[id][3] = game_name1
            matriz[id][4] = game_name2
        


        except:
            print("Not found id: " + str(id))
    return matriz


location_test = get_data_locations(700)

Erro ao recuperar dados para id 21: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/21/
Erro ao recuperar dados para id 142: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/142/
Erro ao recuperar dados para id 143: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/143/
Erro ao recuperar dados para id 144: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/144/
Erro ao recuperar dados para id 145: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/145/
Erro ao recuperar dados para id 146: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/146/
Erro ao recuperar dados para id 166: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/166/
Erro ao recuperar dados para id 176: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/176/
Erro ao recuperar dados para id 235: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/235/
Erro ao recuperar dados para id 240: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/240/
Erro ao recuperar dados para id 251: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/251/
Erro ao recuperar dados para id 253: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 254: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 255: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 256: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 257: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 258: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 259: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 260: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 261: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 262: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 263: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 264: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 265: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 266: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 267: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 268: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 269: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 270: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 271: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 272: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 273: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 274: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 275: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 276: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 277: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 278: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 279: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 280: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 281: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 282: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 283: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 284: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 285: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 286: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 287: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 288: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 289: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 290: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 291: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 292: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 293: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 294: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 295: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 296: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 297: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 298: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 299: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 300: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 301: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 302: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 303: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 304: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 305: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 306: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 307: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 308: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 309: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 310: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 311: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 312: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 313: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 314: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 315: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 316: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 317: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 318: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 319: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 320: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 321: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 322: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 323: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 324: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 325: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 326: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 327: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 328: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 329: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 330: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 331: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 332: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 333: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 334: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 335: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 336: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 337: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 338: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 339: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 340: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 341: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 342: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 343: 'NoneType' object has no attribute 'name'
Erro ao recuperar dados para id 499: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/499/
Erro ao recuperar dados para id 522: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/522/
Erro ao recuperar dados para id 523: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/523/
Erro ao recuperar dados para id 524: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/524/
Erro ao recuperar dados para id 525: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/525/
Erro ao recuperar dados para id 530: 404 Client Error: Not Found for url: https://pokeapi.co/api/v2/location/530/

In [28]:
test = pb.location(300)
if AttributeError:
    text2 = np.nan
else:
    text2 = test.region.name
print(text2)

nan

In [52]:
df = pd.DataFrame(test_dict)
df

   0                1       2              3                          4  5  6
0  0                0       0              0                          0  0  0
1  1     generation-i   kanto       red-blue                     yellow  0  0
2  2    generation-ii   johto    gold-silver                    crystal  0  0
3  3   generation-iii   hoenn  ruby-sapphire                    emerald  0  0
4  4    generation-iv  sinnoh  diamond-pearl                   platinum  0  0
5  5     generation-v   unova    black-white            black-2-white-2  0  0
6  6    generation-vi   kalos            x-y  omega-ruby-alpha-sapphire  0  0
7  7   generation-vii   alola       sun-moon       ultra-sun-ultra-moon  0  0
8  8  generation-viii   galar   sword-shield          the-isle-of-armor  0  0

In [43]:
df2 = pd.DataFrame(location_test)
df2.head(700)

       0                1       2              3
0      0                0       0              0
1      1    canalave-city  sinnoh  generation-iv
2      2      eterna-city  sinnoh  generation-iv
3      3    pastoria-city  sinnoh  generation-iv
4      4   sunyshore-city  sinnoh  generation-iv
..   ...              ...     ...            ...
695  695    battle-resort   hoenn  generation-vi
696  696         ss-tidal   hoenn  generation-vi
697  697    mirage-forest   hoenn  generation-vi
698  698      mirage-cave   hoenn  generation-vi
699  699  mirage-mountain   hoenn  generation-vi

[700 rows x 4 columns]