# Pokedex analystic

In [4]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

pokedex = pd.read_csv('datasets/Pokemon.csv')

In [5]:
pokedex.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [7]:
pokedex.shape

(800, 13)

In [8]:
pokedex.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [9]:
pokedex.values

array([[1, 'Bulbasaur', 'Grass', ..., 45, 1, False],
       [2, 'Ivysaur', 'Grass', ..., 60, 1, False],
       [3, 'Venusaur', 'Grass', ..., 80, 1, False],
       ...,
       [720, 'HoopaHoopa Confined', 'Psychic', ..., 70, 6, True],
       [720, 'HoopaHoopa Unbound', 'Psychic', ..., 80, 6, True],
       [721, 'Volcanion', 'Fire', ..., 70, 6, True]], dtype=object)

In [10]:
pokedex.sort_values('Speed', ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
486,438,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
495,446,Munchlax,Normal,NaN,390,135,85,40,40,85,5,4,False

In [11]:
pokedex['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [12]:
pokedex[pokedex['Legendary'] == True]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
poke_ice_or_electric = pokedex[(pokedex['Type 1'] == 'Ice') & (pokedex['Type 2'] == 'Flying')]
print(poke_ice_or_electric)

       #      Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
156  144  Articuno    Ice  Flying    580  90      85      100       95
243  225  Delibird    Ice  Flying    330  45      55       45       65

     Sp. Def  Speed  Generation  Legendary
156      125     85           1       True
243       45     75           2      False

# Creating database 
Preparation the data

## Tabela `Poke status`

| Coluna    | Tipo    | Descrição                                |
|-----------|---------|------------------------------------------|
| id        | serial  | Identificador único do Pokémon           |
| name      | text    | Nome do Pokémon                          |
| total     | integer | Total de estatísticas do Pokémon         |
| HP        | integer | Pontos de vida do Pokémon                |
| Attack    | integer | Estatística de ataque do Pokémon         |
| Defense   | integer | Estatística de defesa do Pokémon         |
| Sp. Atk   | integer | Estatística de ataque especial do Pokémon|
| Sp. Def   | integer | Estatística de defesa especial do Pokémon|
| Speed     | integer | Velocidade do Pokémon                    |

## Tabela `Poke Legendary`

| Coluna    | Tipo    | Descrição                           |
|-----------|---------|-------------------------------------|
| id        | serial  | Identificador único do Pokémon      |
| name      | text    | Nome do Pokémon                     |
| type_1    | text    | Primeiro tipo do Pokémon            |
| type_2    | text    | Segundo tipo do Pokémon (opcional)  |

In [14]:
# Creating poke status table
poke_status = pokedex[['#','Name','Total','HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']]
poke_status.head()

,#,Name,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,318,45,49,49,65,65,45
1,2,Ivysaur,405,60,62,63,80,80,60
2,3,Venusaur,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,625,80,100,123,122,120,80
4,4,Charmander,309,39,52,43,60,50,65

In [15]:
# Selecting only pokemon legendary == True
poke_legen = pokedex[pokedex['Legendary'] == True]

# Droping the column
poke_drop = ['Total','HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Legendary']
poke_legen = poke_legen.drop(poke_drop, axis=1) # axis 1 for column, 0 for row
poke_legen.head()

       #                 Name    Type 1    Type 2  Generation
156  144             Articuno       Ice    Flying           1
157  145               Zapdos  Electric    Flying           1
158  146              Moltres      Fire    Flying           1
162  150               Mewtwo   Psychic       NaN           1
163  150  MewtwoMega Mewtwo X   Psychic  Fighting           1

In [16]:
# Renaming the columns
poke_legen_clean = poke_legen.rename(columns={'#':'id','Name':'name','Type 1':'type_1','Type 2':'type_2','Generation':'gen'})
poke_status_clean = poke_status.rename(columns={'#':'id','Name':'name','Total':'total','HP':'hp','Attack':'atk','Defense':'def','Sp. Atk':'sp_atk','Sp. Def':'sp_def','Speed':'speed'})

In [17]:
poke_legen_clean

      id                 name    type_1    type_2  gen
156  144             Articuno       Ice    Flying    1
157  145               Zapdos  Electric    Flying    1
158  146              Moltres      Fire    Flying    1
162  150               Mewtwo   Psychic       NaN    1
163  150  MewtwoMega Mewtwo X   Psychic  Fighting    1
..   ...                  ...       ...       ...  ...
795  719              Diancie      Rock     Fairy    6
796  719  DiancieMega Diancie      Rock     Fairy    6
797  720  HoopaHoopa Confined   Psychic     Ghost    6
798  720   HoopaHoopa Unbound   Psychic      Dark    6
799  721            Volcanion      Fire     Water    6

[65 rows x 5 columns]

In [18]:
poke_status_clean

      id                   name  total  hp  atk  def  sp_atk  sp_def  speed
0      1              Bulbasaur    318  45   49   49      65      65     45
1      2                Ivysaur    405  60   62   63      80      80     60
2      3               Venusaur    525  80   82   83     100     100     80
3      3  VenusaurMega Venusaur    625  80  100  123     122     120     80
4      4             Charmander    309  39   52   43      60      50     65
..   ...                    ...    ...  ..  ...  ...     ...     ...    ...
795  719                Diancie    600  50  100  150     100     150     50
796  719    DiancieMega Diancie    700  50  160  110     160     110    110
797  720    HoopaHoopa Confined    600  80  110   60     150     130     70
798  720     HoopaHoopa Unbound    680  80  160   60     170     130     80
799  721              Volcanion    600  80  110  120     130      90     70

[800 rows x 9 columns]

In [28]:
db_url = 'sqlite:///../pokemon-db.sqlite'

# Crating engine database
engine = create_engine(db_url)

In [29]:
# open csv table poke status
table_status = pd.read_csv('datasets/poke_status2.csv',delimiter=',')

# open csv table poke legendary
table_legen = pd.read_csv('datasets/poke_legen2.csv', delimiter=',')

# Droping the column unamed

table_status.head()

,Unnamed: 0,id,name,total,hp,atk,def,sp_atk,sp_def,speed
0,0,1,Bulbasaur,318,45,49,49,65,65,45
1,1,2,Ivysaur,405,60,62,63,80,80,60
2,2,3,Venusaur,525,80,82,83,100,100,80
3,3,3,VenusaurMega Venusaur,625,80,100,123,122,120,80
4,4,4,Charmander,309,39,52,43,60,50,65

In [30]:
table_legen.to_sql('pokemon_legendary',engine, if_exists='replace',index=False)
table_status.to_sql('pokemon_status',engine,if_exists='replace',index=False)

800