# Getting the Data

In [24]:
import pokebase as pb
import pandas as pd
import numpy as np
import random

In [26]:
def matrizUniAleatorio(tamanho):
    matriz = list(range(tamanho))
    for num in range(tamanho):
        matriz[num] = random.randint(1, 999)
    return matriz


def matrizUniOrdinaria(tamanho, numero):
    matriz = list(range(tamanho))
    for num in range(tamanho):
        matriz[num] = numero
    return matriz


def matrizBiAleatorio(NumColunas, NumLinhas, ateNum):
    matriz = [[0 for i in range(NumColunas)] for j in range(NumLinhas)]
    for y in range(NumColunas):
        for x in range(NumLinhas):
            matriz[x][y] = random.randint(0, ateNum)
    return matriz


def matrizBiAleatorioFloat(NumColunas, NumLinhas, ateNum):
    matriz = [[0 for i in range(NumColunas)] for j in range(NumLinhas)]
    for y in range(NumColunas):
        for x in range(NumLinhas):
            matriz[x][y] = random.uniform(0, ateNum)
    return matriz


def matrizBiOrdinaria(NumColuna, NumLinhas, elemento=0):
    matriz = [[0 for i in range(NumColuna)] for j in range(NumLinhas)]
    for y in range(NumColuna):
        for x in range(NumLinhas):
            matriz[x][y] = elemento
    return matriz


def nomeAleatorio(tamanho):
    vogais = 'aeiou'
    consoantes = 'bcdfghjklmnpqrstvwxyz'
    nome = ''
    for i in range(tamanho):
        if i % 2 == 0:
            nome += random.choice(consoantes)
        else:
            nome += random.choice(vogais)
        return nome.capitalize()


def printMatrizBi(matriz, tamanhoElemento):
    for linha in matriz:
        for elemento in linha:
            print(str(elemento).center(tamanhoElemento), end=" ")
        print()
    print()

In [ ]:
locations = {
    'id':{},
    'name':{},
    'region':{},
    'game_indices':{}
}

id_list = []
names_list = []
region_list = []
game_list = []

for loc in range(120):
    temp = pb.location(loc + 1)
    names_list.append(temp.name)
    region_list.append(temp.region)
print(names_list)
print(region_list)

### Criação dos funções para a criação dos dicionarios com os dados da API 

#### Locations
    - id int
    - region string
        - location string

In [55]:
def get_data_locations(count):
    """Retorna um dicionário de regiões e suas locations correspondentes"""
    matriz = matrizBiOrdinaria(5,count)

    for id in range(1, count + 1):  # IDs das locations começam em 1
        try:
            location = pb.location(id)
            location_name = location.name
            region_name = location.region.name
            gen_name = location.game_indices[0].generation.name
            game_index = location.game_indices[0].game_index

            
            matriz[id][0] = id
            matriz[id][1] = location_name
            matriz[id][2] = region_name
            matriz[id][3] = gen_name
            matriz[id][4] = game_index

        except:
            print("Not found id: " + str(id))

    return matriz

def get_data_generation():
    """Retorna uma matriz com dados relevantes das gerações"""
    matriz = matrizBiOrdinaria(7,9)

    for id in range(1, 10 + 1):
        try:
            generation = pb.generation(id)
            generation_name = generation.name
            region_main = generation.main_region.name
            game_name1 = generation.version_groups[0].name
            game_name2 = generation.version_groups[1].name
       
            matriz[id][0] = id
            matriz[id][1] = generation_name
            matriz[id][2] = region_main
            matriz[id][3] = game_name1
            matriz[id][4] = game_name2
        


        except:
            print("Not found id: " + str(id))
    return matriz


location_test = get_data_locations(500)

Not found id: 21
Not found id: 40
Not found id: 142
Not found id: 143
Not found id: 144
Not found id: 145
Not found id: 146
Not found id: 148
Not found id: 149
Not found id: 150
Not found id: 159
Not found id: 160
Not found id: 166
Not found id: 176
Not found id: 189
Not found id: 235
Not found id: 240
Not found id: 251
Not found id: 253
Not found id: 254
Not found id: 255
Not found id: 256
Not found id: 257
Not found id: 258
Not found id: 259
Not found id: 260
Not found id: 261
Not found id: 262
Not found id: 263
Not found id: 264
Not found id: 265
Not found id: 266
Not found id: 267
Not found id: 268
Not found id: 269
Not found id: 270
Not found id: 271
Not found id: 272
Not found id: 273
Not found id: 274
Not found id: 275
Not found id: 276
Not found id: 277
Not found id: 278
Not found id: 279
Not found id: 280
Not found id: 281
Not found id: 282
Not found id: 283
Not found id: 284
Not found id: 285
Not found id: 286
Not found id: 287
Not found id: 288
Not found id: 289
Not found id: 290
Not found id: 291
Not found id: 292
Not found id: 293
Not found id: 294
Not found id: 295
Not found id: 296
Not found id: 297
Not found id: 298
Not found id: 299
Not found id: 300
Not found id: 301
Not found id: 302
Not found id: 303
Not found id: 304
Not found id: 305
Not found id: 306
Not found id: 307
Not found id: 308
Not found id: 309
Not found id: 310
Not found id: 311
Not found id: 312
Not found id: 313
Not found id: 314
Not found id: 315
Not found id: 316
Not found id: 317
Not found id: 318
Not found id: 319
Not found id: 320
Not found id: 321
Not found id: 322
Not found id: 323
Not found id: 324
Not found id: 325
Not found id: 326
Not found id: 327
Not found id: 328
Not found id: 329
Not found id: 330
Not found id: 331
Not found id: 332
Not found id: 333
Not found id: 334
Not found id: 335
Not found id: 336
Not found id: 337
Not found id: 338
Not found id: 339
Not found id: 340
Not found id: 341
Not found id: 342
Not found id: 343
Not found id: 447
Not found id: 486
Not found id: 487
Not found id: 488
Not found id: 489
Not found id: 490
Not found id: 491
Not found id: 492
Not found id: 493
Not found id: 494
Not found id: 495
Not found id: 496
Not found id: 497
Not found id: 498
Not found id: 499
Not found id: 500

In [51]:
test = pb.generation(1)
text2 = len(test.version_groups)
print(text2)

2

In [52]:
df = pd.DataFrame(test_dict)
df

   0                1       2              3                          4  5  6
0  0                0       0              0                          0  0  0
1  1     generation-i   kanto       red-blue                     yellow  0  0
2  2    generation-ii   johto    gold-silver                    crystal  0  0
3  3   generation-iii   hoenn  ruby-sapphire                    emerald  0  0
4  4    generation-iv  sinnoh  diamond-pearl                   platinum  0  0
5  5     generation-v   unova    black-white            black-2-white-2  0  0
6  6    generation-vi   kalos            x-y  omega-ruby-alpha-sapphire  0  0
7  7   generation-vii   alola       sun-moon       ultra-sun-ultra-moon  0  0
8  8  generation-viii   galar   sword-shield          the-isle-of-armor  0  0

In [56]:
df2 = pd.DataFrame(location_test)
df2

     0               1       2              3   4
0    0               0       0              0   0
1    1   canalave-city  sinnoh  generation-iv   7
2    2     eterna-city  sinnoh  generation-iv   9
3    3   pastoria-city  sinnoh  generation-iv  11
4    4  sunyshore-city  sinnoh  generation-iv  13
..  ..             ...     ...            ...  ..
495  0               0       0              0   0
496  0               0       0              0   0
497  0               0       0              0   0
498  0               0       0              0   0
499  0               0       0              0   0

[500 rows x 5 columns]

In [10]:
test_region = pb.location(1)
region = test_region.region
print(type(region))

pb.APIResource

<class 'pokebase.interface.APIResource'>

pokebase.interface.APIResource

In [70]:
id_lista = list(range(len(regions)))
dict_location = {
    'id': id_lista,
    'name': regions
}

locations_df = pd.DataFrame(dict_location)
locations_df

      id                   name
0      0          canalave-city
1      1            eterna-city
2      2          pastoria-city
3      3         sunyshore-city
4      4  sinnoh-pokemon-league
..   ...                    ...
482  482        dilford-chamber
483  483         scufib-chamber
484  484           rixy-chamber
485  485         viapos-chamber
486  486                ss-anne

[487 rows x 2 columns]

In [68]:
def get_name_gen(lista):
    """Retorna lista dos nomes das gerações"""
    for id in range(8):
        try:
            temp = pb.generation(id+1)
            lista.append(temp.name)
        except:
            print(id + " Not Found")
    return lista
litinhya = []
new_litinhya = get_name_gen(litinhya)
print(new_litinhya)

['generation-i', 'generation-ii', 'generation-iii', 'generation-iv', 'generation-v', 'generation-vi', 'generation-vii', 'generation-viii']

In [ ]:
df_gen =